extends layout

doctype html
html(lang='en')
	block content
		.container
		div.header_content
			h1 Advance Wars Clone: Create Game
		div.body_content
			form(name='create-game', method='post', action='/game/new_game')
				div.input
					span.label Game Title
					input(type='text', name='title', placeholder='Enter name of game here:')
				div.input
					span.label Select a Map:
					select(name='map')
						option(value='0') Map A
				div.input
					span.label Additional Game Options
					label(name='checkbox-label') More Mountains
						input(type='checkbox', value='add_opt1')
					label(name='checkbox-label') Higher Production Costs
						input(type='checkbox', value='add_opt2')
				div.actions
					input(type='submit', value='Create Game')
			div.chat_content
				h3 Chat box goes here
					ul(id='messages')
						form(action='', method='post')
							input(id='m', autocomplete='off', type='button', value='Send')

script(src='http://code.jquery.com/jquery-1.11.1.js')
script(src='/javascripts/chat_test.js')
