extends layout

doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title Advance Wars Clone - Homepage
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='Website for SFSU Csc667 Final Project')
		meta(name='author', content='Jason Newman, Josh Nagel, Evan Wong, Davy Khok')
		link(href='/stylesheets/bootstrap.css', rel='stylesheet', type='text/css')
		link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
	body
		block content
			div.index-page
				div.container.center-div
					form.form-signin
						h2.form-signin-heading Login
						input.input-block-level(type='text', placeholder='Username or Email address')
						input.input-block-level(type='password', placeholder='Password')
						label.checkbox
							input(type='checkbox', value='remember-me')
							| Remember Me
						br
						form(action='', method='get')
							
							input(type='submit', value='Sign Up')
						a(href='../lobby') Test Link to Lobby
						br
						a(href='./registration') Sign Up
