extends layout

doctype html
html(lang='en')

block content
  h1= title
  form(name="add-estimation", method="post")
    div.input
      span.label Username
      input(type="text", name="Username")
    div.input
      span.label Password
      input(type="text", name="Password")

    div.actions
      input(type="submit", value="Sign In")

  button(onclick="move()") Registration

script.
  function move() {
    window.location.href = '/registration'
  }
