extends layout

body
	block content
		div.index-page
			div.container.center-div
				form(method='post', action='/users/login', class='form-signin', name='login-user')
					h1 Log In
					div.form-group
						label(for='username') Username
						input.form-control(type='text', id='username', placeholder='Enter Username', name='username')
					div.form-group
						label(for='password') Password
						input.form-control(type='password', id='password', placeholder='Enter Password', name='password')
					button.btn.btn-primary(type='submit') Log in
			br
			a(href='./lobby') Test Link to Lobby
			br
			a(href='./game') Test Link to Game
			br
			a(href='./registration') Sign Up
