doctype html
html
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='Website for SFSU Csc667 Final Project')
		meta(name='author', content='Jason Newman, Josh Nagel, Evan Wong, Davy Khok')
		link(href='/stylesheets/bootstrap.css', rel='stylesheet', type='text/css')
		link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
		link(href='/stylesheets/bootstrap-responsive.css', rel='stylesheet', type='text/css')
	body
		script(src='/socket.io/socket.io.js')
		script(src='http://code.jquery.com/jquery-1.7.1.min.js')
		//- 
			#err
				if errors
					for each errors
						div(class='alert alert-danger')
							var msg = {errMsg:'Shit be broke!'}

		.container
			div.header_content
			
				#Errors
					if errors
						h3 Form Errors!
						h4 Please check to make sure you've entered the correct information.
						each error in errors
							div(class='alert alert-danger')
								strong=error.msg
				div.login
					h3(name='header_title') Advance Wars Clone - Csc 667 - Fighting Mongooses
					div.user-logo
						img.profile(src='/images/Avatar_default.png', alt='user photo')
						a(id='login-out', href='#') Logout
					a(href='/'): img.logo(src='/images/Csc667_logo.png', alt='game logo')
					nav(class='navbar navbar-default')
						div(class='container-fluid')
							ul(class='nav navbar-nav')
								li.active
									a(href='/') Home
								li
									a(href='/account') Account
								li
									a(href='/registration') 
										span(class='glyphicon glyphicon-user') Register
								li
									a(href='/lobby') Lobby
	block content
