doctype html
html

	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='Website for SFSU Csc667 Final Project')
		meta(name='author', content='Jason Newman, Josh Nagel, Evan Wong, Davy Khok')
		link(href='/stylesheets/bootstrap.css', rel='stylesheet', type='text/css')
		link(href='/stylesheets/style.css', rel='stylesheet', type='text/css')
		link(href='/stylesheets/bootstrap-responsive.css', rel='stylesheet', type='text/css')
	body
		//- 
			#err
				if errors
					for each errors
						div(class='alert alert-danger')
							var msg = {errMsg:'Shit be broke!'}

		.container
			div.header_content
				div.login
					h3(name='header_title') Advance Wars Clone - Csc 667 - Fighting Mongooses
					div.user-logo
						img(src='', alt='user photo')
						a(id='login-out', href='#') Logout
					a(href='#'): img.logo(src='#', alt='game logo')
					nav(class='navbar navbar-default')
						div(class='container-fluid')
							ul(class='nav navbar-nav')
								li
									a(href='/index') Home
								li
									a(href='/account') Account
								li
									a(href='/registration') Register
								li
									a(href='/lobby') Lobby
	block content
