extends layout

doctype html
html(lang='en')
	head
		title Advance Wars Clone - Game Lobby
              
block content
	.container
		h1(id='title') Welcome to the Game Lobby
	div.body_content
		a(href='/createGame')
			input(type='button', value='Create Game')
		a(href='/testGame')
			input(type='button', value='Test Game')

		div.table_content
			table#lobby-table
				thead
					tr
						th Players
						th Title
						th Map
						th Join
				tbody
					if games
						each game in games
							tr
								td
									strong Player List
								td
									strong= game.title
								td
									strong= game.map
								td
									form(method='post', action='/game/join_game', name='join-game')
										input(type= 'hidden', name= 'gameID' value= game.id)
										input(type='submit', value= 'Join Game')
		div.chat_content
			h3 Chat	
				div.content(name='chat-content')
				br
				input(name='field')
				input(type='button', value='send')

			script(src='http://code.jquery.com/jquery-1.11.1.js')
			script(src='/javascripts/chat.js')
