extends layout

block content
	.index-page
		.container
			h1= title
		div.body_content
			a(href='/createGame')
				input(type='button', value='Create Game')
			a(href='/testGame')
				input(type='button', value='Test Game')
				
			div.table_content
				table#lobby-table
					thead
						tr
							th Players
								th Title
								th Map
								th Join
					tbody
						if games
							each game in games
					tr
						td
							strong= game.totalplayers + "/" + game.maxplayers
						td
							strong= game.title
						td
							strong= game.map
						td
							if game.playerInGame == true
								form(method='post', action='/game/rejoin_game', name='rejoin-game')
									input(type= 'hidden', name= 'gameID' value= game.id)
									input(type='submit', value= 'Rejoin Game')
							else if game.totalplayers < game.maxplayers
								form(method='post', action='/game/join_game', name='join-game')
									input(type= 'hidden', name= 'gameID' value= game.id)
									input(type='submit', value= 'Join Game')
							else
								strong Game Started
                
			div.chat_content
				h3 Chat
					.content(name='chat-content')
					br
					input(name='chat-text-area')
					input(type='button', value='send')

			script(src='http://code.jquery.com/jquery-1.11.1.js')
			script(src='/javascripts/chat.js')
