extends layout

doctype html
html(lang='en')
	head
		title Advance Wars Clone - Game Lobby
	block content
		.container
			h1(id='title') Advance Wars Clone Game Lobby
		div.body_content
			img(src='', alt='create game')
			form(action='', method='get')
				input(type='submit', value='Create Game')
			div.table_content
				table#lobby-table
					thead
						tr
							th Players
							th Title
							th Map
					tbody
						tr
							td
								form(action='', method='get')
									input(type='submit', value='Join Game')

			div.chat_content
				h3 Chat box goes here
				
				#chat-area
					.row
						.messages.col-lg-6.well.well-sm
					.row
						.col-lg-6
							.input-group
								input.form-control(type='text', placeholder='Message...')
							span.input-group-btn
								button.btn.btn-default(type='button') Send
				form.form-inline#initial-form
					.form-group
						label(for='who-are-you') Who are you?
						input#who-are-you.form-control(type='text', placeholder='Anonymous')
					button.btn.btn-primary(type='submit') Start Chatting
