extends layout

doctype html
html(lang='en')
	head
		title Advance Wars Clone - Game Lobby
	block content
		.container
			h1(id='title') Advance Wars Clone Game Lobby
		div.body_content
			img(src='', alt='create game')
			form(action='', method='get')
				input(type='submit', value='Create Game')
			div.table_content
				table#lobby-table
					thead
						tr
							th Players
							th Title
							th Map
					tbody
						tr
							td
								form(action='', method='get')
									input(type='submit', value='Join Game')

			div.chat_content
				h3 Chat box goes here
