extends layout

block content
	.bg
		.container
			div.block_content
				h1(name='username-h1')= user.username
				div.table_normal
					h3(name='profile-h3') Current Games:
					img(src='/images/Avatar1.png', name='user-profile-avatar')
					if games.length > 0
						table.table_content
							thead
								tr
									th Title
									th Map
									th Rejoin
							tbody
								each game in games
									tr
										td
											strong= game.title
										td
											strong= game.map
										td
											form(method='post', action='/game/rejoin_game')
												input(type='hidden', name='gameID' value= game.id)
												input(name='rejoin-game', type='submit', value='rejoin-game')
					else
						strong You do not have any concurrent games.
