extends layout

body

	block content
		div.container
			h1 user.username
			h3 Current Games:
			
			div.table_content
				thead
					tr
						th Title
						th Map
						th Rejoin
				tbody
					if games
						for each game in games
							tr
								td
									strong= game.title
								td
									strong= game.map
								td
									form(method='post', action='/game/rejoin_game')
										input(type= 'gameID' value= game.id)
										input(type='submit', value='rejoin-game')

