extends layout

block content

  img(src="/images/littleisle.png", width="500", height="300")

  #join
    button.btn.btn-default(type='button') Join

  script(src='http://code.jquery.com/jquery-1.11.1.js')
  script(src='/javascripts/test.js')
