extends layout

doctype html
html
		block content
				img#background(src='/images/map_0.png')
				canvas#gameDraw(width='1900', height='1000')

				script(src='/game/test.js')

				//
					script.
						window.onload = function() {
							var c = document.getElementById("gameDraw");
							var ctx = c.getContext("2d");
							var img = document.getElementById("background");
							ctx.drawImage(img, 10, 10);
						}
