extends layout

block content

  #create-game
    button(onclick="move()") Create Game
  script.
    function move() {
      window.location.href = '/game'
    }

  script(src='http://code.jquery.com/jquery-1.11.1.js')
  script(src='/javascripts/test.js')
