extends layout

doctype html
html
		block content
				//canvas#gameDraw

				input(type='button', value='test')

				cript(src='/game/test.js')
				script(src='http://code.jquery.com/jquery-1.11.1.js')
				script(src='/javascripts/game_socket_client.js')

