body {
  padding:0 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

a[name='create-game-href'], a[name='test-game-href']{
	float:left;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #d9d9d9;
}

img.profile{
	width:50%;
	height:50%;
}

.active {
    background-color: #4CAF50;
}

.bg{
	font:14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image:url('../images/csc667_background.jpg');
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	min-height:100%;
	min-width:50%;
	width:100%;
	height:1100px;
}

.container.center-div{
	margin-left:25%;
	width:75%;
}

form[name='register-user']{
	width:25%;
	min-width:20%;
	margin: 0px -5px -393px 0px;
	padding:0px 0px 15px 15px;
	background-color:#fff;
	border:1px solid #000;
	border-radius:5px;
	box-shadow:0 1px 2px rgba(0,0,0,0.05);
}

a[name='signup']{
	float:right;
}

.container.registration{
	margin-left:40%;
}

.body_content[name='createGame-content']{
	float:left;
	margin-left:15px;
}

.form-signin{
	display:inline-block;
	max-width:400px;
	padding:0px 10px 10px;
	margin-top: 120px;
	margin-left:280px;
	background-color:#fff;
	border:1px solid #000;
	border-radius:5px;
	box-shadow:0 1px 2px rgba(0,0,0,0.05);
}

.form-signin .form-signin-heading, .form-signin .checkbox{
	margin-bottom:10px;
	margin-left:15px;
}

.form-signin input[type="text"], .form-signin input[type="password"]{
	font-size:16px;
	height:auto;
	margin-bottom:15px;
	padding:7px 9px;
	margin-left:15px;
}

.logo{
	float:left;
	width:15%;
	display:inline;
}

.user-logo{
	float:right;
	width:15%;
	display:inline;
}

h1[name='username-h1']{
	color:black;
}

h3[name='profile-h3']{
	color:black;
}

input[name='rejoin-game']{
	margin-top:15px;
}

h1{
	color:black;
}

h3[name='header_title']{
	float:center;
}

.login{
	float:left;
}

.content[name='chat-content']{
	min-width:25%;
	min-height:10%;
	height:100px;
	margin:0 0 20px 0;
	border:solid 1px #999;
	overflow-y:scroll;
}

.block_content[name='lobby']{
	float:left;
	width:70%;
	min-width:65%;
}

.table_normal{
	float:left;
	width:65%;
	min-width:35%;
	margin-right:120px;
}

.table_content{
	display:inline-table;
	width:100%;
	min-width:65%;
}

table{
	background-color:#fff;
	width:100%;
	margin:20px auto;
	table-layout:fixed;
}

table, td, th{
	background-color:#fff;
	border-collapse:collapse;
}

th, td{
	background-color:#fff;
	padding:5px;
	border:solid 1px;
	text-align:center;
}

.chat_content[name='create-game-chat']{
	float:right;
	background-color:#fff;
	min-width:5%;
	width:25%;
	padding:10px;
	margin:25px 62% 0px 0px;
	border:1px solid #000;
	border-radius:5px;
	box-shadow:0 1px 2px rgba(0,0,0,0.05);
}

.chat_content{
	float:right;
	background-color:#fff;
	min-width:5%;
	width:25%;
	padding:10px;
	margin:25px 10px 0px 0px;
	border:1px solid #000;
	border-radius:5px;
	box-shadow:0 1px 2px rgba(0,0,0,0.05);
}

form[name='create-game']{
	width:100%;
	min-width:15%;
	margin-top:25px;
	margin-left:20%;
	padding:5px 5px 5px 5px;
	background-color:#fff;
	border:1px solid #000;
	border-radius:5px;
	box-shadow:0 1px 2px rgba(0,0,0,0.05);	
}

ul[name='chat-messages']{
	height:50px;
}

input[name='chat-text-area']{
	width:75%;
	margin-right:10px;
	margin-left:5px;
}

input[name='chat-msg']{
	margin-left:5px;
	margin-right:5px;
}

input[name='title']{
	margin:8px;
}

select[name='map']{
	margin:5px;
}

canvas[name='game-screen']{
	width:500px;
	height:500px;
	border-radius:5px;
	box-shadow:0 1px 2px rgba(0,0,0,0,0.05);
}

input[type='checkbox']{
	margin-left:5px;
}
