body {
  padding:0 0 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*background-color: #333;*/
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #d9d9d9;
}

img.profile{
	width:50%;
	height:50%;
}

.active {
    background-color: #4CAF50;
}

.index-page{
	font:14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image:url('../images/csc667_background.jpg');
	background-position:center center;
	background-size:cover;
	background-repeat:no-repeat;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	min-height:100%;
	min-width:50%;
	width:100%;
	height:1100px;
	//background-attachment:fixed;
	//position:absolute;
	//top:0;
	//left:0;
}

.container.center-div{
	margin:0 auto;
	margin-left:500px;
	width:75%;
}

form[name='register-user']{
	width:25%;
	min-width:20%;
	padding:15px 15px 15px 15px;
	background-color:#fff;
	border:1px solid #000;
	border-radius:5px;
	box-shadow:0 1px 2px rgba(0,0,0,0.05);
}

.container.registration{
	margin-left:700px;
}

.form-signin{
	display:inline-block;
	max-width:400px;
	padding:0px 10px 10px;
	//margin:0 auto;
	margin-top: 120px;
	margin-left:280px;
	background-color:#fff;
	border:1px solid #000;
	border-radius:5px;
	box-shadow:0 1px 2px rgba(0,0,0,0.05);
}

.form-signin .form-signin-heading, .form-signin .checkbox{
	margin-bottom:10px;
	margin-left:15px;
}

.form-signin input[type="text"], .form-signin input[type="password"]{
	font-size:16px;
	height:auto;
	margin-bottom:15px;
	padding:7px 9px;
	margin-left:15px;
}

.lobby-page{
	padding-top:60px;
}

.logo{
	float:left;
	//padding-right:50px;
	width:15%;
	display:inline;
}

.user-logo{
	float:right;
	//padding-left:250px;
	//margin-right:200px;
	width:15%;
	display:inline;
}

.header_content h1{
	margin:0px;
	display:inline;
	color:black;
	vertical-align:top;
}

h3[name='header_title']{
	float:center;
}

.login{
	float:left;
	//position:fixed;
}

.content[name='chat-content']{
	width:500px;
	height:300px;
	margin:0 0 20px 0;
	border:solid 1px #999;
	overflow-y:scroll;
}

.table_content{
	display:inline-table;
	width:60%;
	padding:14px;
	text-align:center;
}

table{
	width:75%;
	margin:20px auto;
	table-layout:fixed;
}

table, td, th{
	border-collapse:collapse;
}

th, td{
	padding:10px;
	border:solid 1px;
	text-align:center;
}

.chat_content{
	float:right;
	border:1px solid #000;
	border-radius:5px;
	box-shadow:0 1px 2px rgba(0,0,0,0.05);
}

ul[name='chat-messages']{
	height:50px;
}

input[name='chat-text-area']{
	margin-right:10px;
	margin-top:20px;
	margin-left:5px;
}

input[name='chat-msg']{
	margin-left:5px;
	margin-right:5px;
}

input[name='signup']{
	float:right;
}

canvas[name='game-screen']{
	width:500px;
	height:500px;
	border-radius:5px;
	box-shadow:0 1px 2px rgba(0,0,0,0,0.05);
}

input[name='field']{
	width:350px;
}

input[name='send']{
	
}

input[type='checkbox']{
	margin-left:5px;
}

form[name='create-game']{
	margin-top:15px;
}
